.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to bottom right, rgb(204, 0, 0), rgb(111, 0, 255));
}

.listArea {
  height: 50vh;
  width: 40vw;
  text-align: center;
  border-radius: 12%;
  box-shadow: 5px 5px 50px rgba(37, 37, 37, 0.596);
  -webkit-border-radius: 12%;
  -moz-border-radius: 12%;
  -ms-border-radius: 12%;
  -o-border-radius: 12%;
  background-image: linear-gradient(to bottom right, rgb(202, 1, 85), rgb(159, 0, 207));
}

button {
  background-color: rgba(0, 0, 0, 0.452);
  color: white;
}

input {
background-color: rgba(255, 255, 255, 0.623);
}

